.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.full-height {
  height: 100%;
}

.category-frame {
  padding: 0;
}
.category-frame .card {
  margin: 0 10px 10px 0;
}
.card-body {
  padding: 5px;
}

.card-title,
.card-subtitle {
  text-align: center;
  margin: 0;
}

.product-display {
  padding: 0;
}

.product-display .card {
  width: 48%;
  display: inline-block;
  margin: 0 10px 10px 0;
}

.order-tray {
  border: 2px solid #dee2e6;
  border-radius: 5px;
}

.order-tray td span {
  cursor: pointer;
}

.quantity {
  width: 50px;
  border-radius: 5px;
  text-align: center;
}

.price-tag {
  margin: 0;
  font-size: 12px;
}

.order-tray .table td,
.order-tray .table th {
  vertical-align: middle;
}

.order-tray .table th {
  border: 0;
}

.order-tray h3 {
  padding: 10px;
  margin: 0;
}
/* 
.table {
  border-collapse: separate;
  border-spacing: 5px 0;
}


tr {
  box-shadow: 0 0 0 2px #dee2e6;
  border-radius: 2px;
} */
